<div id="subscribe">
  <div class="container">
      <h2>Assine nossa newsletter</h2>
      <p>Ex per oblique corpora concludaturque, consulatu incorrupte an eum. In his offendit scribentur, eam ne autem tractatos. Affert molestie phaedrum vel ad, dicit audire expetendis qui ut, ne minim deleniti eum. </p>
  <div class="col-md-8 col-md-offset-2">
          <form action="#">
              <div class="input-group">
                <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Enter your email address" required>
                <button class="btn btn-info btn-lg" type="submit">Submit</button>
             </div>
          </form>
  </div>
  </div>
</div>
