<% @page_title = "UserPrefs | Preferences" %>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Preferences</div>
				<div class="menu">
					<div><a href="password">Security</a></div>
					
				</div>
				<div class="panel-body">
				
                </div>
		</div>
	</div>	
