// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite_star{
    i {
        color: gold;
    }
    i:hover {
        color: black;
        cursor: pointer;
    }
    text-align: center; 
    color: gold;
}
.favorite_star:hover{
    color: black;
    cursor: pointer; 
}

.link, .link:visited , .link:active{
    color: black !important;
}

.link:hover{
    color: #3c8dbc !important;
}